*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
.parent-div{
    /* border: 3px solid black; */
    display: flex;
}
.left-div{
    padding: 20px;
    background: #d9d9d9;
    height: 400px;
    width: 50%;
}
.right-div{
    /* background: tomato; */
    background:url(./images/image1.jpg);
    background-size: cover;
    background-position: bottom left;
           height: 400px;
    width: 50%;
}
.smart-line{
    background: tomato;
    height: 16px;
    width: 224px;
}
.header-logotext{
    margin-bottom: 20px;
}
.header-headingtext{
    margin-bottom: 20px;
}
.header-longtext{
    margin-bottom: 35px;
}
span{
    color: tomato;
}
.link-holder{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 20px 0;
    }