/* h1{
    color: orange;
    border: 1px solid black;
    display: inline;
} */
div{ 
    /* border: 1px solid blue; */
   
    color: white;
}
.left-division{
    vertical-align: top;
    width: 65%;
    height: 500px;
    display: inline-block;
    background: skyblue;
}
.right-divison{
    vertical-align: top;
    height:250px ;
    width: 30%;
    display: inline-block;
    background: tomato;
}




.parent-container{
    /* border: 3px solid black; */
    width: 70%;
    margin: 0 auto;
}